body{
    margin:0px;
}

    

h1{
    font-size: 80px;
    font-weight: lighter;
    width: 348px;
    height: 160px;
    font-family: 'Bebas Neue', cursive;
}
.color{
    color:#ff8367;
}
p{
    color:#3E3E3E;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
 h3{
    font-size:24px;
    font-weight:bold;
    font-family: Roboto; 
    
   

}
h2{
    font-size: 70px;
    font-weight: lighter;
    font-family: 'Bebas Neue', cursive;
    text-align:center;
  }

.half-width{
    width:35%;
    height:600px;
    float:left;
    margin-left:5%;
    margin-right: 5%;
    padding-left:2%;
   
    
    
    
}


img{
    
    max-width: 100%;
    max-height: 100%;
    display:block;  
    margin-top:-80px;  
    
}
.div-1{
  
    margin-top: 100px;
    /* width: 400px;
    height: 500px; */
    
   
}

.link-button{
    text-decoration: none;
   background-color: #f76760;
    padding:10px 40px;
    border-radius:5px;
    color:white;
    font-weight:700;

}
.div-2{
    margin-top: 100px;
    
}
/* .div-3{
    margin-bottom:80px;
}
.div-4{
    margin-bottom:80px;
} */
/* section{
    height:500px;
   
} */
.container{
    width:100%;
    height:700px;
    display:inline-block;
    
     background-color:rgb(223, 221, 221);
    
}

#tripple{
    width:90%;
     height:400px;
    /*  padding:50px; */
     
    
    margin:0% 5% 10% 5%;
    display:inline-block
}
.three-div{
    width: 30%;
    height: 400px;
    float:left;
  /*   margin-top:0%; */
    /* margin-right:3%; */
    margin-left: 1%;
    padding: 0px 10px;
    background: #FFFFFF;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}  
.img1{
    margin-top:10px;
    max-width: 100%;
    max-height: 100%;
    
   
}
    
.three-div p {
    font-size: 18px;
    
}

.img1{
    max-width: 100%;
    max-height: 100%;
    display:block; 
}
 .last{
    
margin:auto;
border-radius: 30px;

padding: 0.5% 1% 0% 2%;
    width:50%;
    height:200px;
    text-align: right;
    background-image:linear-gradient(45deg,#5D69E9,#4225B6);
}  
.float-hobe{
     height:30%;
     width: 40%;
     float:right;
     /* margin-bottom:100px; */
     margin-right:20px;
     margin-top:-8%;
     
 }  
 footer{
     margin-top:10%;
     text-align: center;
 }
 


    
    

